---
import { Picture } from "@astrojs/image/components";

const { superTitle, h2, under, over, copy } = Astro.props;

const widths = [300, 600, 800, 1200];
const sizes = "(max-width: 1140px) calc(75vw - 2rem), 33vw";
const formats = ["avif", "webp", "jpeg"];
---

<article class="benefits">
  <div class="photo-stack">
    <div class="img-wrap back">
      <Picture
        class="img radius-2 shadow-5"
        src={under}
        widths={widths}
        sizes={sizes}
        formats={formats}
        aspectRatio="16:9"
        alt=""
      />
    </div>
    <div class="img-wrap front">
      <Picture
        class="img radius-2 shadow-5"
        src={over}
        widths={widths}
        sizes={sizes}
        formats={formats}
        aspectRatio="16:9"
        alt=""
      />
    </div>
  </div>
  <div class="copy flow right-stack" style="--flow-space: 1.5rem">
    <p class="small upper semi-bold muted">{superTitle}</p>
    <h2 class="h2">{h2}</h2>
    <p class="copy muted flow" set:html={copy} />
  </div>
</article>

<style lang="scss">
  .benefits {
    display: grid;
    place-items: center;
    gap: var(--size-10);
    padding-inline: var(--size-6);
    max-width: 80ch;
    margin-inline: auto;
    margin-top: var(--size-10);
    padding-bottom: var(--size-8);
  }
  .photo-stack {
    display: grid;
    max-height: 40rem;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(20, 1fr);
  }

  .img-wrap {
    &.back {
      grid-row: 1 / span 13;
      grid-column: 1 / span 7;
    }

    &.front {
      grid-row: 10 / span 15;
      grid-column: 2 / span 9;
    }
  }

  .img {
    object-fit: cover;
    // height: 450px;
    max-height: 100%;
    width: 100%;
  }

  @media (min-width: 1000px) {
    .benefits {
      max-width: var(--max-l);
      padding-inline: var(--size-fluid-3);
      grid-template-columns: repeat(2, 1fr);
      column-gap: var(--size-8);
    }

    .right-stack {
      max-width: 45ch;
      margin-left: auto;
    }
  }
</style>
