---
import Button from "../Button.astro";
import BreadCrumb from "../BreadCrumb.astro";
import { Picture } from "@astrojs/image/components";

const { crumbList, heroUrl, heroPosition = "bottom", bbb, h1, p, heroButton = true } = Astro.props;

const position = heroPosition;
---

<header class="">
  <div class="content-wrap grid-md">
    {
      crumbList && (
        <div class="breadcrumb">
          <BreadCrumb {crumbList} />
        </div>
      )
    }
    {bbb && <p class="txt-primary txt-bold">BBB A+ Rated with a 2-year Warranty</p>}
    <h1 class="h1 center leading-2">{h1}</h1>
    <p set:html={p} class="width-sm center mb-8">{p}</p>
    {heroButton && <Button bounce="true" text="Request A Free Service Estimate" link="/contact-us/" style="primary" />}
  </div>
  <div class="pic-container">
    <Picture
      src={import(`../../assets/services/${heroUrl}.png`)}
      widths={[400,800,1200,2400]}
      formats={['avif','jpeg','webp']}
      sizes="100vw"
      alt=""
    />
  </div>
</header>

<style lang="scss" define:vars={{ position }}>
  $height: 65vh;

  header {
    display: grid;
    grid-template-areas: "hero";
    color: hsl(var(--white));

    > * {
      grid-area: hero;
    }

    height: $height;
    place-items: center;
    background: linear-gradient(
      180deg,
      hsl(0deg 0% 0% / 0.7) 0%,
      hsl(0deg 0% 0% / 0.7) 16%,
      hsl(0deg 0% 0% / 0.7) 24%,
      hsl(0deg 0% 0% / 0.6) 30%,
      hsl(0deg 0% 0% / 0.6) 35%,
      hsl(0deg 0% 0% / 0.6) 40%,
      hsl(0deg 0% 0% / 0.6) 45%,
      hsl(0deg 0% 0% / 0.5) 50%,
      hsl(0deg 0% 0% / 0.5) 55%,
      hsl(0deg 0% 0% / 0.5) 60%,
      hsl(0deg 0% 0% / 0.5) 65%,
      hsl(0deg 0% 0% / 0.5) 70%,
      hsl(0deg 0% 0% / 0.4) 76%,
      hsl(0deg 0% 0% / 0.4) 84%,
      hsl(0deg 0% 0% / 0.4) 100%
    );

    .pic-container {
      z-index: -1;
      width: 100%;
      height: 100%;
      overflow: hidden;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: var(--position);
    }

    div > p:nth-child(3) {
      font-weight: var(--font-weight-3);
    }
  }
  @media (min-width: 1650px) {
    header {
      height: 75vh;
    }
  }

  p {
    font-size: var(--font-size-fluid-1);
  }
</style>
