---
import services from "../data/serviceData/services.json";
export function getStaticPaths() {
  return services.map((stuff) => {
    return {
      params: { service: stuff.slug },
      props: { stuff },
    };
  });
}

import BaseLayout from "../layouts/BaseLayout.astro";
import ServiceHero from "../components/Services/ServiceHero.astro";
import Stack from "../components/Services/Stack.astro";
import LocalBanner from "../components/LocalBanner.astro";
import ReverseStack from "../components/Services/ReverseStack.astro";
import Committed from "../components/Services/Committed.astro";
import Accordion from "../components/Accordion.astro";

const { service } = Astro.params;
const { stuff } = Astro.props;
---

<BaseLayout title={stuff.titleTag} desc={stuff.meta}>
  <ServiceHero
    crumbList={stuff.crumbList}
    heroPosition={stuff.position}
    heroUrl={stuff.heroUrl}
    h1={stuff.heroTitle}
    p={stuff.p}
  />
  <article class="heading">
    <p class="up muted">Great Plains Painting</p>
    <h2>{stuff.topSectionTitle}</h2>
    <div class="flow">
      <Fragment set:html={stuff.topSectionCopy} />
    </div>
    {
      (service === 'wood-rot-repair-kansas-city') &&
      <p class="wood-rot-note">
        <i>Note: we only estimate and complete wood rot repair when full exterior painting is also included.  At this time we can't take on wood rot only projects unless they are significant in size (i.e., 1 whole side of your houses siding needs replaced).</i>
      </p>
    }
  </article>
  <section class="benefits">
    <Stack
      superTitle={stuff.section2.upperTitle}
      h2={stuff.section2.title}
      subTitle={stuff.section2.subTitle}
      list={stuff.section2.list}
      under={stuff.section2.underPhoto}
      over={stuff.section2.topPhoto}
    />
  </section>
  <section class="banner">
    <LocalBanner
      localSuper={stuff.aboutBanner.super}
      localh2={stuff.aboutBanner.title}
      localp={stuff.aboutBanner.copy}
      localButton={stuff.aboutBanner.button}
      buttonLink={stuff.aboutBanner.link}
    />
  </section>
  <ReverseStack
    superTitle={stuff.section3.upperTitle}
    h2={stuff.section3.Title}
    under={stuff.section3.underPhoto}
    over={stuff.section3.topPhoto}
    copy={stuff.section3.copy}
  />
  <section class="committed">
    <Committed copy={stuff.committed.copy} />
  </section>
  <section class="accordion">
    <Accordion title={"Frequently Asked Questions"} accordionContent={stuff.accordion} />
  </section>
</BaseLayout>

<style lang="scss">
  .heading {
    margin-block: var(--size-10);
    text-align: center;
    padding-inline: var(--size-6);
    max-width: var(--max-l);
    margin-inline: auto;
    .up {
      text-transform: uppercase;
    }

    h2 {
      margin-bottom: var(--size-7);
    }
  }

  article {
    max-width: 80ch;
    margin-inline: auto;
    text-align: left;
  }

  .accordion {
    padding-inline: var(--size-6);
  }

  .committed {
    margin-block: var(--size-10);
    max-width: 80ch;
    padding-inline: var(--size-6);
    margin-inline: auto;
  }

  .wood-rot-note {
    margin-block-start: var(--size-10);
    color: hsl(var(--brand-green));
    text-align: left;
  }

  @media (min-width: 1000px) {
    .committed {
      margin-top: 0;
    }
  }
</style>
