---
import BaseLayout from "../layouts/BaseLayout.astro";
import { parse, isBefore } from "date-fns";
import Hero from "../components/Hero.astro";
import heroImg from "../assets/cedarShake.jpg";
import PostPreview from "../components/Blog/PostPreview.astro";

const posts = await Astro.glob("../content/blog/*.mdx").then((posts) =>
  posts
    .map(({ frontmatter, file }) => ({
      title: frontmatter.title,
      cover: frontmatter.coverImage,
      publishDate: parse(frontmatter.date, "yyyy-MM-dd", new Date()),
      href: file.split("/").at(-1).slice(0, -4),
    }))
    .sort((a, b) => {
      if (isBefore(a.publishDate, b.publishDate)) return 1;
      if (isBefore(b.publishDate, a.publishDate)) return -1;
      return 0;
    })
);

const crumbList = [
  {
    name: "Home",
    link: "/",
  },
  {
    name: "Blog",
    link: "/blog/",
  },
];
---

<BaseLayout title="Our Blog">
  <Hero crumbList={crumbList} heroUrl={heroImg} h1={"Our Blog"} heroButton={false} alt="A cedar shake shingle exterior painting project" />
  <div class="list-container">
    {
      posts.map((post) => {
        return (
          <div class="blog-list">
            <PostPreview post={post} url={post.href} />
            <hr />
          </div>
        );
      })
    }
  </div>
</BaseLayout>

<style lang="scss">
  .list-container {
    padding-block: var(--size-8);
  }
  .blog-list {
    max-width: 80ch;
    margin-inline: auto;
    padding-inline: var(--size-3);
  }
  hr {
    --flow-space: 0;
    height: 2px;
    background-color: var(--gray-2);
    border: none;
  }
</style>
