---
import BaseLayout from "../layouts/BaseLayout.astro";
import Hero from "../components/Hero.astro";
import PhotoStack from "../components/PhotoStack.astro";
import ServiceGrid from "../components/ServiceGrid.astro";
import LocalBanner from "../components/LocalBanner.astro";
import Accordion from "../components/Accordion.astro";
import Recents from "../components/Recents.astro";
import WorkingWith from "../components/WorkingWith.astro";
import heroImg from "../assets/cedarShake.jpg";
import accordion from "../data/homeAccordion.json";

const bbb = true;

const title = "Quality House Painters in Kansas City in Kansas City";
const desc =
  "Turn to Great Plains Painting for the most profressional & top rated Kansas City painting services. Get a free estimate today!";
---

<BaseLayout title={title} desc={desc}>
  <Hero heroUrl={heroImg} bbb={bbb} alt="A cedar shake shingle exterior painting project" />
  <PhotoStack />
  <ServiceGrid />
  <LocalBanner />
  <Accordion
    title={"Why Trust Us to Paint Your Home?"}
    p={"we'll do it right or we'll make it right"}
    accordionContent={accordion}
  />
  <Recents />
  <section class="surrounding">
    <div class="container flow p-block-5" style="padding-inline: var(--size-6);">
      <h2 class="center">Not Sure if We Serve Your Neighborhood?</h2>
      <p class="container-xs center semi-muted copy" style="--flow-space: 3rem;">
        We serve the metro Kansas City area and the surrounding areas including <a href="/service-area/painters-overland-park-ks/">Overland Park</a>, <a href="/service-area/painters-lenexa-ks/">Lenexa</a>, <a href="/service-area/painters-lees-summit-mo/">Lee's Summit</a>, <a href="/service-area/painters-olathe-ks/">Olathe</a>, <a href="/service-area/painters-leawood-ks/">Leawood</a>, <a href="/service-area/painters-prairie-village-ks/">Prairie Village</a>, <a href="/service-area/painters-roeland-park-ks/">Roeland Park</a>, and <a href="/service-area/painters-shawnee-ks/">Shawnee</a>.
      </p>
    </div>
  </section>
  <WorkingWith />
</BaseLayout>
