---
import { Image } from "@astrojs/image/components";

const { superTitle, h3, copy, under, over } = Astro.props;
---

<section class="why-us">
  <div class="copy flow left-stack" style="--flow-space: 1.5rem">
    {superTitle && <p class="small upper semi-bold muted">{superTitle}</p>}
    <h3 class="h3">{h3}</h3>
    <Fragment class="sub-h2 black" set:html={copy} />
  </div>
  <div class="photo-stack">
    <div class="img-wrap back">
      <Image class="img radius-2 shadow-5" src={import(`${under}.jpg`)} width={1200} />
    </div>
    <div class="img-wrap front">
      <Image class="img radius-2 shadow-5" src={import(`${over}.jpg`)} width={1200} />
    </div>
  </div>
</section>

<style lang="scss">
  .why-us {
    display: grid;
    padding-inline: var(--size-6);
    max-width: 80ch;
    margin-block: var(--size-10);
    margin-inline: auto;
    gap: var(--size-10);
  }

  .photo-stack {
    display: grid;
    max-height: 40rem;
    grid-template-columns: repeat(4, minmax(50px, 1fr));
    grid-template-rows: repeat(4, 150px);
  }

  .img-wrap {
    &.back {
      grid-row: 1 / span 3;
      grid-column: 1 / span 3;
    }

    &.front {
      grid-row: 2 / span 4;
      grid-column: 2 / span 4;
    }
  }

  .img {
    object-fit: cover;
    height: 450px;
    max-height: 100%;
    width: auto;
  }

  @media (min-width: 1000px) {
    .why-us {
      margin-block: var(--size-12);
      max-width: var(--max-l);
      padding-inline: var(--size-fluid-3);
      grid-template-columns: repeat(auto-fill, minmax(min(500px, 100%), 1fr));
      column-gap: var(--size-3);
    }

    .left-stack {
      max-width: 45ch;
    }
  }
</style>
