---
import Button from "./Button.astro";
import BreadCrumb from "./BreadCrumb.astro";
import { Image, Picture } from "@astrojs/image/components";

const {
  crumbList,
  heroUrl,
  alt,
  bbb,
  h1 = "Quality House Painters in Kansas City",
  p = "Offering Kansas City homeowners a low stress, top quality home painting service.",
  heroButton = true,
} = Astro.props;
---

<header class="">
  <div class="content-wrap grid-md">
    {
      crumbList && (
        <div class="breadcrumb">
          <BreadCrumb {crumbList} />
        </div>
      )
    }
    {
      bbb && (
        <p class="txt-primary txt-bold">
          Take the hassle out of painting your home.
        </p>
      )
    }
    <h1 class="h1 center leading-2">{h1}</h1>
    {p && <p class="width-sm center mb-8">{p}</p>}
    {
      heroButton && (
        <Button
          text="Request A Free Service Estimate"
          link="/contact-us/"
          style="primary"
          bounce="true"
        />
      )
    }
  </div>
  <!-- <img src="/cedar-shake.jpg" alt="" srcset=""> -->
  <!-- <Image loading="eager" fetchpriority="high" format="avif" src={heroUrl} width={1200} alt={alt} /> -->
  <div class="pic-container">
    <Picture
      loading="eager"
      fetchpriority="high"
      formats={["avif", "jpeg", "webp"]}
      src={heroUrl}
      widths={[400, 800, 1200, 2400]}
      sizes="100vw"
      alt={alt}
      fit="cover"
    />
  </div>
</header>

<style lang="scss">
  $height: 85vh;
  $max-height: 800px;
  // $max-height: 95vh;

  header {
    p {
      font-size: var(--font-size-3);
    }
    display: grid;
    grid-template-areas: "hero";
    color: hsl(var(--white));

    > * {
      grid-area: hero;
    }

    height: $height;
    max-height: $max-height;
    place-items: center;
    background: linear-gradient(
      180deg,
      hsl(0deg 0% 0% / 0.7) 0%,
      hsl(0deg 0% 0% / 0.7) 16%,
      hsl(0deg 0% 0% / 0.7) 24%,
      hsl(0deg 0% 0% / 0.6) 30%,
      hsl(0deg 0% 0% / 0.6) 35%,
      hsl(0deg 0% 0% / 0.6) 40%,
      hsl(0deg 0% 0% / 0.6) 45%,
      hsl(0deg 0% 0% / 0.5) 50%,
      hsl(0deg 0% 0% / 0.5) 55%,
      hsl(0deg 0% 0% / 0.5) 60%,
      hsl(0deg 0% 0% / 0.5) 65%,
      hsl(0deg 0% 0% / 0.5) 70%,
      hsl(0deg 0% 0% / 0.4) 76%,
      hsl(0deg 0% 0% / 0.4) 84%,
      hsl(0deg 0% 0% / 0.4) 100%
    );

    .pic-container {
      z-index: -1;
      width: 100%;
      height: min($height, $max-height);
      // height: $max-height;
      overflow: hidden;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: top;
    }

    div > p:nth-child(3) {
      font-weight: var(--font-weight-3);
    }
  }
  @media (min-width: 1650px) {
    header {
      max-height: 95vh;

      .pic-container {
        height: min($height, 95vh);
      }
    }
  }
</style>
