---
import Button from "./Button.astro";
import { Image } from "@astrojs/image/components";
import meetHouse from "../assets/meetHouse.jpg";
import meetBrett from "../assets/meetBrett.jpg";

const {
  superTitle = "Our Experienced Team",
  h2 = "Meet the Most Trusted Kansas City Painters",
  subTitle = "Award-Winning Interior and Exterior Painting Servce Creates Lots of Happy Customers",
  p = "From the initial conversation to the final stroke of the paint, we are with you every set of the way and we strive to make the process as simple and hassle-free as we can. Our team is built of the best painters and painting contractors in Kansas City who have mastered the art of creating beautiful spaces. We are always keeping on top of the current trends in the industry so we can give you exactly what you are looking for. We use nothing but the best products, making sure your home painting improvements last for years to come. Call or use the form below to get in touch with our team today.",
  buttonText = "Meet the Team",
  buttonLink = "/about-us/",
  under = meetHouse,
  over = meetBrett,
} = Astro.props;
---

<section class="meet-team">
  <div class="copy flow" style="--flow-space: 1.5rem">
    <p class="small upper semi-bold muted">{superTitle}</p>
    <h2 class="h2">{h2}</h2>
    <p class="sub-h2 black">{subTitle}</p>
    <p class="copy muted flow" set:html={p}></p>
    <div class="button-wrap">
      <Button text={buttonText} link={buttonLink} style="primary" />
    </div>
  </div>
  <div class="photo-stack">
    <div class="img-wrap back">
      <Image class="img radius-2 shadow-5" src={under} format="avif" width={1200} alt="Exterior painting project preppeed and ready for paint" />
    </div>
    <div class="img-wrap front">
      <Image class="img radius-2 shadow-5" src={over} format="avif" width={1200} alt="A painter on a ldder painting trim on a house" />
    </div>
  </div>
</section>

<style lang="scss">
  .meet-team {
    display: grid;
    place-items: center;
    margin-block: var(--size-10);
    padding-inline: var(--size-6);
    margin-inline: auto;
    max-width: 80ch;
  }
  .button-wrap {
    margin-block: var(--size-10);
  }

  .photo-stack {
    display: grid;
    max-height: 40rem;
    grid-template-columns: repeat(4, minmax(50px, 1fr));
    grid-template-rows: repeat(4, minmax(50px, 1fr));
    padding-bottom: var(--size-8);
  }

  .img-wrap {
    &.back {
      grid-row: 1 / span 3;
      grid-column: 1 / span 3;
    }

    &.front {
      grid-row: 2 / span 4;
      grid-column: 2 / span 4;
    }
  }

  .img {
    object-fit: cover;
    max-height: 100%;
    width: auto;
  }

  @media (min-width: 1000px) {
    .meet-team {
      max-width: var(--max-w);
      padding-inline: var(--size-fluid-3);
      grid-template-columns: repeat(auto-fill, minmax(min(500px, 100%), 1fr));
      column-gap: var(--size-3);
    }
  }
</style>
