---
import Button from "./Button.astro";
import { Image } from "@astrojs/image/components";
import services from "../data/services.json";
---

<section class="services">
  <div class="copy flow center" style="--flow-space: 1.5rem">
    <p class="upper small semi-bold muted">great plains painting</p>
    <h3 class="h2">House Painting Kansas City Services & More</h3>
    <p class="sub-h2 black">Great Plains Painting is Your One-Stop Shop</p>
    <div class="service-grid">
      {
        services.map((service, i) => (
          <a href={service.link}>
            <div class="grid-item">
              <div class="img-wrap">
                <Image class="service-img round" src={import(`../assets/services/${service.src}.png`)} alt={service.alt} format="avif" width={800} />
              </div>
              <div class="number round">{i + 1}</div>
              <div class="right">
                <h3 class="h3 service-title left">{service.service}</h3>
                <p class="service-copy left" style="--size: 1.75rem">
                  {service.copy}
                </p>
              </div>
            </div>
          </a>
        ))
      }
    </div>
    <div class="button-wrap">
      <Button text="schedule your free estimate" link="/contact-us/" style="primary" />
    </div>
  </div>
</section>

<style lang="scss">
  .services {
    padding-inline: var(--size-6);
    display: grid;
    place-items: center;
    margin: 0 auto;
    margin-block: var(--size-10);
    max-width: 80ch;
  }
  .service-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: var(--size-fluid-5);
    margin-top: var(--size-10);
    a {
      text-decoration: none;
      color: inherit;
    }
  }

  .grid-item {
    display: flex;
    flex-direction: column;
    gap: var(--size-3);
    position: relative;
  }

  .img-wrap {
    max-width: 150px;
    max-height: 150px;
    overflow: hidden;
    flex: 0 0 150px;
  }

  .service-img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
  }

  .button-wrap {
    margin-top: var(--size-10);
    display: grid;
    place-items: center;
  }

  .number {
    position: absolute;
    width: 30px;
    font-size: var(--font-size-2);
    aspect-ratio: 1;
    background-color: hsl(var(--brand-green));
    color: hsl(var(--white));
    top: -5px;
    left: 22px;
    display: grid;
    place-items: center;
  }

  @media (min-width: 1000px) {
    .services {
      max-width: var(--max-w);
      padding-inline: var(--size-fluid-3);
    }

    .grid-item {
      flex-direction: row;
    }

    .service-title {
      font-size: var(--font-size-3);
    }
  }

  .grid-item:hover {
    .service-title {
      color: hsl(var(--brand-green));
    }
    .number {
      color: hsl(var(--footer-accent));
    }
  }
</style>
