---
import "../styles/global.css";
import { Icon } from "astro-icon";
import NewNavbar from "../components/NewNavbar.astro";
import Footer from "../components/Footer.astro";

const serviceLinks = [
  {
    name: "Interior Painting",
    url: "/interior-painting-kansas-city/",
  },
  {
    name: "Exterior Painting",
    url: "/exterior-painting-kansas-city/",
  },
  {
    name: "Cabinet Painting",
    url: "/cabinet-painting-kansas-city/",
  },
  {
    name: "Commercial Painting",
    url: "/commercial-painting-contractors-kansas-city/",
  },
  {
    name: "Wood Rot Repair",
    url: "/wood-rot-repair-kansas-city/",
  },
  {
    name: "James Hardie Siding",
    url: "/james-hardie-siding-kansas-city/",
  },
];

const areaLinks = [
  {
    city: "Kansas City",
    url: "/",
  },
  {
    city: "Overland Park",
    url: "/service-area/painters-overland-park-ks/",
  },
  {
    city: "Lee's Summit",
    url: "/service-area/painters-lees-summit-mo/",
  },
  {
    city: "Olathe",
    url: "/service-area/painters-olathe-ks/",
  },
  {
    city: "Leawood",
    url: "/service-area/painters-leawood-ks/",
  },
  {
    city: "Prairie Village",
    url: "/service-area/painters-prairie-village-ks/",
  },
  {
    city: "Roeland Park",
    url: "/service-area/painters-roeland-park-ks/",
  },
  {
    city: "Lenexa",
    url: "/service-area/painters-lenexa-ks/",
  },
  {
    city: "Shawnee",
    url: "/service-area/painters-shawnee-ks/",
  },
];

const canonicalURL = new URL(Astro.url.pathname, Astro.site)

const { title, desc } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Google Tag Manager -->
    <script>
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != "dataLayer" ? "&l=" + l : "";
        j.async = true;
        j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, "script", "dataLayer", "GTM-MK9H3X2");
    </script>
    <!-- End Google Tag Manager -->

    <!-- Google tag (gtag.js) -->
    <script type="text/partytown" src="https://www.googletagmanager.com/gtag/js?id=G-6Y2BCR3ZSK"></script>
    <script type="text/partytown">
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        window.dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-6Y2BCR3ZSK");
    </script>

    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="sitemap" href="/sitemap.xml" />

    <title>{title}</title>
    <meta name="description" content={desc} />
    <link rel="canonical" href={canonicalURL}>
    <meta property="og:locale" content="en_US">
    <meta property="og:type" content="website">
    <meta property="og:title" content={title}>
    <meta property="og:description" content={desc}>
    <meta property="og:url" content={canonicalURL}>
    <meta property="og:site_name" content="Kansas City Commercial & Residential Painting Company">
  </head>

  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript>
      <iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-MK9H3X2"
        height="0"
        width="0"
        style="display:none;visibility:hidden"
      >
      </iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
    <header class="site-head" role="banner">
      <a href="#main-content" class="skip-link">Skip to Content</a>
      <!-- <Navbar /> -->
      <NewNavbar />
    </header>
    <main id="main-content" tabindex="-1">
      <slot />
    </main>
    <Footer />

    <script is:inline defer>
      const footerDate = document.querySelector(".date");
      const currentYear = new Date().getFullYear();
      footerDate.append(currentYear);
    </script>
    <!--Start of Tawk.to Script-->
    <script defer type="text/javascript">
      var Tawk_API = Tawk_API || {},
        Tawk_LoadStart = new Date();
      (function () {
        var s1 = document.createElement("script"),
          s0 = document.getElementsByTagName("script")[0];
        s1.async = true;
        s1.src = "https://embed.tawk.to/63e12e71474251287911ccd3/1gojpqrbn";
        s1.charset = "UTF-8";
        s1.setAttribute("crossorigin", "*");
        s0.parentNode.insertBefore(s1, s0);
      })();
    </script>
    <!--End of Tawk.to Script-->
  </body>
</html>

<style is:inline>
  .skip-link {
    z-index: var(--layer-important);
    display: inline-block;
    padding: 0.7rem 1rem 0.5rem 1rem;
    background: hsl(var(--white));
    color: hsl(var(--footer-accent));
    text-decoration: none;
    font-weight: 700;
    text-transform: uppercase;
    position: absolute;
    top: 1rem;
    left: 1rem;
  }

  .skip-link:hover {
    background: hsl(var(--brand-green));
    color: hsl(var(--brand-dark));
  }

  .skip-link:not(:focus) {
    border: 0;
    clip: rect(0 0 0 0);
    height: auto;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
  }
</style>

<style lang="scss">
  .site-head {
    padding: 0.6rem 0;
    background: hsl(var(--footer-accent));
    color: white;
    line-height: 1.1;
  }

  .site-head :focus {
    outline-color: var(--color-light);
  }
</style>
